<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated com.example -->
      <package
            uri="com.example"
            class="example.ExamplePackage"
            genModel="model/com.example.genmodel"/>
   </extension>

</plugin>
